# 开发工具，太乱还没整理好，先不git
开发工具
命名规范.md
Temp
build
PyStand_for_UmiOCR/build
*.exe
*.txt

# 发布
release
release.py

# 开发工具
!dev-tools/i18n/release
dev-tools/7z
dev-tools/*.zip

# 排除一级目录
UmiOCR-data/*
!UmiOCR-data/main.py
!UmiOCR-data/version.py
!UmiOCR-data/帮助.txt
!UmiOCR-data/RUN_CLI.bat
!UmiOCR-data/RUN_GUI.bat
!UmiOCR-data/test_speed.bat
# 允许二级目录
!UmiOCR-data/**/
# 排除运行环境目录
UmiOCR-data/site-packages*
UmiOCR-data/runtime
UmiOCR-data/lib
UmiOCR-data/plugins/*/
# 允许运行环境压缩包
!UmiOCR-data/*.7z
!UmiOCR-data/*.zip
# 排除缓存
**__pycache__**
UmiOCR-data/i18n/_