# 开发工具，太乱还没整理好，先不git
开发工具
命名规范.md
Temp
PyStand_for_UmiOCR/build

# 排除一级目录
UmiOCR-data/*
# 允许二级目录
!UmiOCR-data/**/
# 排除运行环境目录
UmiOCR-data/.site-packages
UmiOCR-data/.site-packages - full
UmiOCR-data/.runtime
UmiOCR-data/lib
# 允许运行环境压缩包
!UmiOCR-data/*.7z
# 排除缓存
**__pycache__**