# 开发工具，太乱还没整理好，先不git
.vscode/Umi-OCR by pyqt.code-workspace
开发工具
命名规范.md
Umi-OCR.exe
Temp

PyStand_for_UmiOCR/build
UmiOCR-data/*
!UmiOCR-data/*.py
!UmiOCR-data/**/
# 高度定制的运行环境。前期暂时不git，项目中期再同步
UmiOCR-data/.site-packages
UmiOCR-data/.runtime
UmiOCR-data/lib
**__pycache__**