Brotli==1.0.9
ConfigParser==5.3.0
cryptography==36.0.2
Cython==0.29.32
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==4.12.0
keyboard==0.13.5
keyring==23.9.3
lockfile==0.12.2
lxml==4.8.0
monotonic==1.6
mouse==0.7.1
numpy==1.22.3
ordereddict==1.1
Pillow==9.2.0
protobuf==4.21.6
psutil==5.9.2
PyInstaller==5.4.1
pyOpenSSL==22.1.0
pyperclip==1.8.2
pywin32==304
pywin32_ctypes==0.2.0
tornado==6.1
win32gui==221.6
wincertstore==0.2.1
windnd==1.0.7
xmlrpclib==1.0.1
zipp==3.8.1
